.project-page {
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    
    align-items: center;
    
    .text-zone {
        width: 80%;
        position: absolute;
        height: 100%;
        
       
        
    }

    h1{
        font-size: 5vw;
    }

    p {
        font-size: large;
    }

    .numbers {
        display: inline-flex;
        
        text-align: center;    
        color: #fff;
        
        :hover{
            color: #7655ec;

        }
    }


    .leaflet-container {
        height: 70vh;
        width: 60%;
        margin: auto;
        padding: auto;
        align-self: center;
        

    }

    

    
}

.project-page {
    width: 100%;
    text-align: center;
    align-items: center;
    float: left;
}

.page{
    width: 100%;
    height: 100%;
}

