.nav-bar{
    background-color: #181818;
    width: 100%;
    height: 55px;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 55px;
    

    .logo {
        display: block;
        img {
            display: block;
            width: 20px;
            margin-left: 10px;
            margin-top: 10px;
            height: auto;
            &.sub-logo {
                width: 40px;
                margin-left: 10px;
            }
        }
    }

    nav {
        display: inline-flex;
        flex-direction: row;
        align-items: baseline;
        vertical-align: top;
        flex-shrink: 1;
        margin-top: -30px;
        width: 60%;
        min-width: 5%;
        margin-left: 10%;
        :hover{
            color: #7655ec;
        }

        a.active {
            color: #7655ec;
        }
        
    
    
        a { 
            display: flex;
            margin-left: 3px;
            width: 33%;
            flex-shrink: 3;
            font-size: 24px;
            text-decoration: none;
            align-items: center;
            color: #ffffff;
            :hover{
                color: #7655ec;
            }
            i {
                transition: all 0.3s ease-out;
            }
        }

        .nav-text{
            margin-left: 3px;
            font-size: large;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            text-align: center;
            align-content: baseline;
            align-items: baseline;
        }

        

        


    }

    ul {
        position: absolute;
        float: right;
        width: 10%;
        margin-left: 13%;
        margin-top: -35px;
        height: 20px;
        align-items: baseline;
        display: inline-flex;
        float: right;
        flex-wrap: wrap;
        flex-shrink: 1;
        flex-direction: row;
        font-size: medium;
        list-style-type: none;
        text-decoration: none;
    
       

        li {
            padding: 4%;
            display: inline-flex;
            min-width: px;
            align-items: baseline;
            position: relative;
            font-size: 24px;
            text-decoration: none;
            text-overflow: ellipsis;
            min-width: 0;
            

            &:hover svg{
                color: #7655ec;
    
            }

            

            
            
        }

        

        
    }

   

}


